<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{contact.name}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="pull-left">
          <img  src="{{contact.imageUrl}}" alt="" class="img-responsive" style="max-height: 100px">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right btn-group">
          <button class="btn btn-primary" [routerLink]="['edit']">Edit</button>
          <button class="btn btn-danger" (click)="deleteContact()">Delete</button>
        </div>
      </div>
<!--      <div class="col-xs-6">-->

<!--      </div>-->
    </div>
  </div>
  <div class="panel-body">
      <p><span style="font-weight: bold">Email: {{contact.email}}</span></p>
      <p><span style="font-weight: bold">Phone: {{contact.phone}}</span></p>


  </div>
</div>

