<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row" style="display: flex;">
      <div class="col-xs-8">
        <h2 class="">Contacts</h2>

      </div>
      <div class="col-xs-4" style="margin-top: auto; margin-bottom: auto; display: flex; flex-direction: column;align-items: end">
        <button class="pull-right btn btn-success" [routerLink]="['/contacts/new']">New Contact</button>

      </div>
    </div>

  </div>
  <div class="panel-body">
        <app-contact-item *ngFor="let contact_item of contacts" [contact]="contact_item" [routerLink]="[contact_item.id]"
        dnd-draggable [dragEnabled]="true" [dragData]="contact_item" [dropZones]="['contactGroup']"
        ></app-contact-item>
  </div>
</div>

